In [1]:
from disambiguation.core import Database
from disambiguation import config
from cPickle import load
import pandas as pd
from glob import glob
%load_ext autoreload
import re
import json
%autoreload 2

individual_contributions_v2
newyork_combined_v2
usa_combined_v2
identities_v3
identities_adjacency_v3
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Export full tables, with additional identity column to file.

In [2]:
idm = Database.IdentityManager('USA')

Table 'identities_v3' exists.
Table 'identities_adjacency_v3' exists.

In [9]:
for state in ['districtofcolumbia','virginia','maryland']:
# for state in ['virginia']:
    print state
    exporter = Database.FecExporter(state)
    exporter.retrieve()
    exporter.set_idm(idm)
    exporter.export_csv()

districtofcolumbia
select NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id from districtofcolumbia_combined;
virginia
select NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id from virginia_combined;
maryland
select NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id from maryland_combined;

In [5]:
exporter.export_csv('delaware.csv')

Table 'identities' exists.
Table 'identities_adjacency' exists.
select id,identity from identities;

#Jierui

In [13]:
coders = ['guest1','guest2','guest3','guest4','guest5','guest6','guest7','guest8','guest9']
data = {coder:{} for coder in coders}
for coder in coders:
    files = '/nfs/home/navid/data/Jierui/board-data-top500-400left/{}*.json'.format(coder)
    list_files = glob(files)
#     print list_files
#     continue
    for filename in list_files:
#         print filename
        file_id = re.findall(r'-([0-9]+)\.',filename)[0]
        f = open(filename)
        tmp = json.load(f) 
        data[coder][file_id] = tmp

In [14]:
counter = 0
# list_rids = []
set_rids = set()
for coder in coders:
    with open('SP500_400left_{}_results.csv'.format(coder),'w') as f:
        for pageid, pagedata in sorted(data[coder].items(), key = lambda x:int(x[0])):
            list_yesses = [key for key,value in pagedata['data'].iteritems() if value[2] == 1]
            set_rids.update( {int(x) for x in list_yesses})
            f.write(pageid + " " + ' '.join(list_yesses) + "\n")

            counter += 1
    #         if counter > 20: break
    # print list_rids

## Export all the "yes" records

In [16]:
exporter = Database.FecRetrieverByID('usa_combined_v1')
exporter.retrieve(list(set_rids))
exporter.set_idm(idm)
exporter.export_csv('./all_records_sp500_400left')

inserting...
done.
Done in 8.299324 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined_v1 JOIN tmp_QX9QCB0k00NjCchOht1i USING (id) ;
Done in 31.283689 seconds
dict_id_2_identity not loaded. Loading now...
select id,identity from identities_v2;

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:52: Warning: Unknown table 'tmp_QX9QCB0k00NjCchOht1i'
  cur.execute(query)

# Carolina

In [4]:
coders = ['carolina']
data = {coder:{} for coder in coders}
for coder in coders:
    files = '/nfs/home/navid/data/Carolina/{}*.json'.format(coder)
    list_files = glob(files)
#     print list_files
    for filename in list_files:
#         print filename
        file_id = re.findall(r'-([0-9]+)\.',filename)[0]
        f = open(filename)
        tmp = json.load(f) 
        data[coder][file_id] = tmp

In [19]:
counter = 0
# list_rids = []
set_rids = set()
dict_rids = {}
for coder in coders:
    with open('carolina_{}_results.csv'.format(coder),'w') as f:
        for pageid, pagedata in sorted(data[coder].items(), key = lambda x:int(x[0])):
            list_yesses = [key for key,value in pagedata['data']['final'].iteritems() if value[1] == 1]
#             print list_yesses
            set_rids.update( {int(x) for x in list_yesses})
            dict_rids[int(pageid)] = [int(x) for x in list_yesses]
            f.write(pageid + " " + ' '.join(list_yesses) + "\n")

            counter += 1
    #         if counter > 20: break
    # print list_rids

In [14]:
print dict_rids

{1: [u' 10230295 ', u' 10314752 ', u' 12616865 ', u' 13674235 ', u' 377534 '], 2: [u' 3919294 ', u' 5637966 ', u' 7269837 ', u' 4850178 ', u' 6661654 ', u' 10994088 ', u' 5148397 ', u' 5310995 ', u' 7477602 '], 3: [u' 9964145 ', u' 10302768 ', u' 10818233 ', u' 10436561 ', u' 9809241 ', u' 10531403 ', u' 9679323 ', u' 5858052 ', u' 10001664 ', u' 5230808 ', u' 8714669 ', u' 7102798 ', u' 9280841 ', u' 11898883 ', u' 9147151 ', u' 6471130 ', u' 12533563 ', u' 10102276 '], 4: [u' 11122452 ', u' 10869025 ', u' 13263222 ', u' 6614784 ', u' 4382352 ', u' 13911049 ', u' 13276677 ', u' 12385388 ', u' 12242215 ', u' 6418779 ', u' 5318207 ', u' 10356783 ', u' 6900394 ', u' 10998432 ', u' 13969676 ', u' 4627535 ', u' 14316589 ', u' 11485904 ', u' 11626097 ', u' 12911978 ', u' 12123981 ', u' 11189543 ', u' 6735851 ', u' 6206326 ', u' 8941335 ', u' 7243690 ', u' 5020072 ', u' 9943683 ', u' 12470558 ', u' 14600903 ', u' 5789993 ', u' 6042760 ', u' 6376617 ', u' 12742820 ', u' 5956711 '], 5: [u' 215468 ', u' 1998735 '], 6: [u' 888989 ', u' 885774 '], 7: [u' 14575990 ', u' 13624339 ', u' 14214935 '], 8: [u' 14596019 ', u' 12501663 ', u' 11814616 ', u' 13734011 ', u' 12334902 ', u' 12986640 ', u' 14536725 ', u' 12880386 ', u' 12244278 ', u' 10664676 ', u' 11293197 '], 9: [u' 3510493 ', u' 12702215 ', u' 7254947 ', u' 3384966 ', u' 4535443 ', u' 5396794 ', u' 9216570 ', u' 4631383 ', u' 3763482 ', u' 4149009 ', u' 5833110 ', u' 8572460 ', u' 7609689 ', u' 6306098 ', u' 10553279 ', u' 6055680 ', u' 4252526 ', u' 9606959 ', u' 8649277 ', u' 4827395 ', u' 6137194 ', u' 5820619 ', u' 3296722 ', u' 6141328 ', u' 14644038 ', u' 3510490 ', u' 6527032 ', u' 3329287 ', u' 8434779 ', u' 7302554 ', u' 8971542 ', u' 5171088 ', u' 9212302 ', u' 9454250 ', u' 12055884 ', u' 3356762 ', u' 3879450 ', u' 6883399 ', u' 8619164 ', u' 3305389 ', u' 3828979 ', u' 2879048 ', u' 3515763 ', u' 2987680 ', u' 3510491 ', u' 7246634 ', u' 8908875 ', u' 3369399 ', u' 8311152 ', u' 5726975 ', u' 6856050 ', u' 3597005 ', u' 3045604 ', u' 4623409 ', u' 7304624 ', u' 3473620 ', u' 3045824 ', u' 3655817 ', u' 4741784 ', u' 8940684 ', u' 6100618 ', u' 4172148 ', u' 3597006 ', u' 7253512 ', u' 3948008 ', u' 6097905 ', u' 7363610 ', u' 8454639 ', u' 12111417 ', u' 9299781 ', u' 7591333 ', u' 11913766 ', u' 3818328 ', u' 8556009 ', u' 3458152 ', u' 8958034 ', u' 9475423 ', u' 4632140 ', u' 4507716 ', u' 6668545 ', u' 3888980 ', u' 3885084 ', u' 9651443 ', u' 8676906 ', u' 2922585 ', u' 6986707 ', u' 14657238 ', u' 5821131 ', u' 7713519 ', u' 3217476 ', u' 8563858 ', u' 9082379 ', u' 3508523 ', u' 8554252 ', u' 6620658 ', u' 7922066 ', u' 5165367 ', u' 3350258 ', u' 5033668 ', u' 4176400 ', u' 3482820 ', u' 4522681 ', u' 3045603 ', u' 3510494 ', u' 2777263 ', u' 3321533 ', u' 3999823 ', u' 3384965 ', u' 6095669 ', u' 7411467 ', u' 7467830 ', u' 3176060 ', u' 6563750 ', u' 2835111 ', u' 5162664 ', u' 7517494 ', u' 6431319 ', u' 4751413 ', u' 9411306 ', u' 3973928 ', u' 3482780 ', u' 3510495 ', u' 8627946 ', u' 6339124 ', u' 8517791 ', u' 3494324 ', u' 8819110 ', u' 4835356 ', u' 8702493 ', u' 8901194 ', u' 4286098 ', u' 4147779 ', u' 5033667 ', u' 3994181 ', u' 4821891 ', u' 4990092 ', u' 4202804 ', u' 5126905 ', u' 8770136 ', u' 3886318 ', u' 5067826 ', u' 8395583 ', u' 3510492 ', u' 3469791 ', u' 4088715 ', u' 4285238 ', u' 3496364 ', u' 4525112 ', u' 3936227 ', u' 9601498 ', u' 7252745 ', u' 2966036 ', u' 8376665 ', u' 9538652 ', u' 4603051 '], 10: [u' 12783895 ', u' 13756508 ', u' 13407018 ', u' 11147826 ', u' 13407019 ', u' 5387966 ', u' 6507567 ', u' 13197868 ', u' 14127648 ', u' 9916045 ', u' 14415369 ', u' 12538167 ', u' 12913637 ', u' 14646871 ', u' 14027564 '], 11: [u' 7345919 ', u' 2031225 ', u' 2522969 ', u' 5631671 ', u' 13389646 ', u' 4238750 ', u' 14126533 ', u' 7099466 ', u' 4141232 ', u' 2417659 ', u' 123219 ', u' 4103146 ', u' 14424014 ', u' 11966475 ', u' 2649419 ', u' 1638150 ', u' 805766 ', u' 7131575 ', u' 9177177 ', u' 13671884 ', u' 2310169 ', u' 2990920 ', u' 6445006 ', u' 7016379 ', u' 2951958 ', u' 1402566 ', u' 14126201 ', u' 5526789 ', u' 6938859 ', u' 2491744 ', u' 11243552 ', u' 4119075 ', u' 3065074 ', u' 13427762 ', u' 2664138 ', u' 1692705 ', u' 5194885 ', u' 4545788 ', u' 3742488 ', u' 3367963 ', u' 13731150 ', u' 1315578 ', u' 4352073 ', u' 7283732 '], 12: [u' 13842979 ', u' 2317656 '], 13: [u' 5014566 '], 14: [u' 490535 '], 15: [u' 6364988 ', u' 12258763 ', u' 6348842 ', u' 5499782 ', u' 13392176 ', u' 1017214 ', u' 10249897 ', u' 7540496 ', u' 7510947 ', u' 4920697 ', u' 544529 ', u' 3359308 ', u' 6906339 ', u' 12237672 ', u' 4901928 ', u' 1055239 ', u' 4892655 ', u' 5427020 ', u' 13051207 ', u' 5199428 '], 16: [u' 4861392 ', u' 5838196 ', u' 4474927 ', u' 5495288 '], 17: [u' 9752624 ', u' 11429624 ', u' 13423914 ', u' 4570005 ', u' 13427168 ', u' 14633669 ', u' 13303423 ', u' 11748032 ', u' 13703620 ', u' 996295 ', u' 14637076 ', u' 11957697 ', u' 11176153 ', u' 14412794 ', u' 11744296 ', u' 9378196 ', u' 13704365 ', u' 14387249 ', u' 13799950 ', u' 3559085 ', u' 10809506 ', u' 14626576 ', u' 9853840 ', u' 6768164 ', u' 8820816 ', u' 14249450 ', u' 9206620 ', u' 9759934 ', u' 13134445 ', u' 8459575 ', u' 9608837 '], 18: [u' 2824277 ', u' 2827029 ', u' 2826411 '], 19: [u' 4061747 ', u' 12809668 ', u' 8057125 '], 20: [u' 8432781 ', u' 11439797 ', u' 7138356 ', u' 11470274 ', u' 11989433 ', u' 12145864 ', u' 10032719 ', u' 12494491 ', u' 4955450 ', u' 10075890 ', u' 11151044 ', u' 10482340 ', u' 12789460 ', u' 8480030 ', u' 14596251 ', u' 11134381 ', u' 14355739 ', u' 14240649 ', u' 10932467 ', u' 14544553 '], 21: [u' 5036406 ', u' 8149375 ', u' 2858929 ', u' 3525612 ', u' 7830954 ', u' 2798231 ', u' 369930 ', u' 3944147 ', u' 3541307 ', u' 8675049 ', u' 2202026 ', u' 4172341 ', u' 7259897 ', u' 3787823 ', u' 6139470 ', u' 2361899 ', u' 9396636 ', u' 6556286 ', u' 8830847 ', u' 7977050 ', u' 9239022 ', u' 276802 ', u' 5751126 ', u' 5222238 ', u' 65975 ', u' 6203526 ', u' 2028799 ', u' 9312510 ', u' 2824707 '], 22: [u' 13123115 ', u' 12335321 ', u' 12310776 ', u' 4283417 ', u' 5044643 ', u' 8844739 ', u' 4533427 ', u' 14124744 ', u' 8192535 ', u' 5020955 ', u' 7751500 ', u' 13914645 ', u' 9184662 ', u' 13042056 ', u' 9758684 ', u' 7254746 ', u' 6556306 ', u' 13702917 ', u' 7905516 ', u' 9643671 ', u' 9725519 ', u' 12789793 ', u' 5890790 ', u' 8587026 ', u' 4287681 ', u' 12788904 ', u' 6029086 ', u' 6514605 ', u' 9168063 ', u' 12481808 ', u' 14374958 ', u' 7253713 ', u' 4528976 ', u' 3291301 ', u' 13130554 ', u' 14673649 ', u' 3442452 ', u' 9565961 ', u' 10012149 ', u' 7183276 ', u' 11599331 ', u' 9227116 ', u' 3023572 ', u' 13215383 ', u' 7763214 ', u' 9260034 ', u' 9387465 ', u' 8325394 ', u' 8414819 ', u' 9385696 ', u' 11675245 ', u' 4997668 ', u' 6198822 ', u' 8910379 ', u' 13789695 ', u' 11221018 ', u' 7183172 ', u' 13134695 ', u' 5933977 ', u' 7040884 ', u' 3766713 ', u' 7246022 ', u' 8537227 ', u' 13465124 ', u' 13026702 ', u' 6444768 ', u' 14516207 ', u' 4547495 ', u' 9508949 ', u' 5097267 ', u' 10006646 ', u' 13362025 ', u' 4050387 ', u' 9080168 ', u' 7900592 ', u' 7040644 ', u' 4509939 ', u' 8162365 ', u' 12295609 ', u' 3415095 ', u' 13446797 ', u' 5720349 ', u' 8968521 ', u' 3768282 ', u' 7831212 ', u' 7812229 ', u' 14246689 ', u' 7810611 ', u' 13727522 ', u' 14285368 ', u' 9051927 ', u' 5994269 ', u' 10943544 ', u' 12935963 ', u' 8057615 ', u' 3397803 ', u' 8857444 ', u' 8443529 ', u' 3551754 ', u' 12270516 '], 23: [u' 1211798 ', u' 922251 ', u' 3288972 ', u' 1717940 ', u' 1036842 ', u' 1501009 ', u' 3335119 ', u' 3711246 '], 24: [u' 9002542 ', u' 8077897 ', u' 10275519 ', u' 12193894 ', u' 6214100 ', u' 9788419 ', u' 9824748 ', u' 7668628 ', u' 10567002 ', u' 9053775 ', u' 13391212 ', u' 11331992 ', u' 7674826 ', u' 9779810 ', u' 11009458 ', u' 10197678 ', u' 8866874 ', u' 14285799 ', u' 9708719 ', u' 4763735 ', u' 8040386 ', u' 8047298 ', u' 13693417 ', u' 6652387 ', u' 12796853 ', u' 12899337 ', u' 7196158 ', u' 8154337 ', u' 10728341 ', u' 10865661 ', u' 9299476 ', u' 10920145 ', u' 12576739 ', u' 9954500 ', u' 11459945 ', u' 7753733 ', u' 10085472 ', u' 9446667 ', u' 9161909 ', u' 10920769 ', u' 8038954 ', u' 7997692 ', u' 11956663 ', u' 9574417 ', u' 8286330 ', u' 7704403 ', u' 10832594 ', u' 8352563 ', u' 8676240 ', u' 9119499 ', u' 10708514 ', u' 13825616 ', u' 8228471 ', u' 4699175 ', u' 8687319 ', u' 9201927 ', u' 4692095 ', u' 7733384 ', u' 13265123 ', u' 8900916 ', u' 13300448 ', u' 13228141 ', u' 11024777 ', u' 12517501 ', u' 7668871 ', u' 9574705 ', u' 9615183 ', u' 12798219 ', u' 9459720 ', u' 13382735 ', u' 10518691 '], 25: [u' 8465189 ', u' 11017100 ', u' 13160131 ', u' 5863618 ', u' 12932573 ', u' 13867871 ', u' 14468760 ', u' 5697509 ', u' 13867818 ', u' 5431138 ', u' 10393118 ', u' 14463742 ', u' 13507644 ', u' 11059655 ', u' 13500266 '], 26: [u' 5989731 ', u' 12436998 ', u' 11009917 ', u' 994673 ', u' 5820374 ', u' 14296637 ', u' 10004373 ', u' 9197723 ', u' 14520701 ', u' 8905798 ', u' 3351968 ', u' 14187718 ', u' 11304871 ', u' 2692726 ', u' 13849066 ', u' 13213869 ', u' 13816163 ', u' 12902486 ', u' 13470578 ', u' 8342535 ', u' 13132417 ', u' 12601131 ', u' 14635118 ', u' 14655349 ', u' 1151389 ', u' 14234296 ', u' 278803 ', u' 14603432 '], 27: [u' 11658843 ', u' 4686654 ', u' 2548959 ', u' 8678718 ', u' 2171000 ', u' 13696990 ', u' 9254525 ', u' 3165464 ', u' 9560236 ', u' 6434636 ', u' 7873872 ', u' 4301161 ', u' 6014593 ', u' 12101717 ', u' 10629695 ', u' 4532258 ', u' 12542117 ', u' 8399970 ', u' 6602490 '], 28: [u' 9081359 ', u' 10175930 ', u' 12736926 ', u' 8672914 ', u' 12115236 ', u' 6244888 ', u' 3598466 ', u' 6501447 ', u' 10006399 ', u' 4382784 ', u' 6841504 ', u' 12853958 ', u' 5119627 ', u' 3007664 ', u' 3829371 ', u' 3005724 ', u' 4108306 ', u' 2913569 ', u' 1552056 ', u' 3831104 ', u' 3350938 ', u' 2921290 ', u' 11195483 ', u' 4382783 ', u' 1370967 ', u' 2539321 ', u' 1146818 ', u' 2989191 ', u' 11956351 ', u' 4031639 ', u' 7339387 ', u' 14328540 ', u' 11578086 ', u' 12213024 ', u' 12461932 ', u' 14359698 '], 29: [u' 790681 ', u' 4118249 ', u' 14632665 ', u' 6426355 ', u' 7147668 ', u' 13148800 ', u' 3048527 ', u' 2106159 ', u' 3938342 ', u' 6445427 ', u' 9777597 ', u' 5323070 ', u' 7773202 ', u' 2744899 ', u' 8979047 '], 30: [u' 61513 ', u' 622518 ', u' 1921248 ', u' 6001716 ', u' 1297442 ', u' 3264479 ', u' 3988719 '], 31: [u' 14537899 ', u' 10088010 '], 32: [u' 14149513 ', u' 13427973 ', u' 14271444 ', u' 10639033 ', u' 14376013 ', u' 4646735 ', u' 8304094 ', u' 8425992 ', u' 10089858 ', u' 10292536 ', u' 1704940 ', u' 5521693 ', u' 14149452 ', u' 12661239 ', u' 14375430 ', u' 666276 ', u' 14099861 ', u' 4309793 ', u' 9832428 ', u' 7509938 ', u' 6946844 ', u' 4436949 ', u' 1946458 ', u' 2926218 ', u' 14474357 ', u' 3579152 ', u' 11570207 ', u' 10078028 ', u' 14658633 ', u' 12936896 ', u' 1286328 ', u' 13212355 ', u' 10759911 ', u' 7767628 ', u' 5695775 ', u' 849881 ', u' 13934882 ', u' 3927555 ', u' 14149496 ', u' 9767675 ', u' 2099297 ', u' 6922614 ', u' 11377409 ', u' 14149525 ', u' 14616631 ', u' 14010484 ', u' 2985715 ', u' 10826518 ', u' 12121231 ', u' 7037228 ', u' 14425052 ', u' 14149557 ', u' 2635920 ', u' 9558086 ', u' 13417691 ', u' 3113317 ', u' 5490895 ', u' 10917998 ', u' 6777210 ', u' 4628971 ', u' 2612776 ', u' 4713850 ', u' 13313741 ', u' 10267866 ', u' 13489403 ', u' 13080066 ', u' 14351200 ', u' 2865784 ', u' 7122756 ', u' 3328677 ', u' 2637085 ', u' 2975834 ', u' 14261 ', u' 115441 ', u' 40118 ', u' 823405 ', u' 10848156 ', u' 14442112 ', u' 8886190 ', u' 13694733 ', u' 22777 ', u' 10280649 ', u' 4666691 ', u' 2414853 ', u' 10706838 ', u' 8133846 ', u' 12711384 ', u' 13138533 ', u' 11599215 ', u' 7802447 ', u' 11718576 ', u' 11386933 ', u' 7721635 ', u' 10597965 ', u' 7276136 ', u' 14109760 ', u' 1384625 ', u' 13543175 ', u' 12975278 ', u' 14149421 ', u' 3516908 ', u' 14012608 ', u' 4028531 ', u' 11467055 ', u' 5987771 ', u' 6011929 ', u' 11263036 ', u' 6733532 ', u' 13221139 ', u' 1796517 ', u' 13435650 ', u' 13962547 ', u' 3192406 ', u' 12183345 ', u' 3928463 ', u' 12765772 ', u' 4399486 ', u' 4145512 ', u' 2026292 ', u' 11823242 ', u' 8428948 ', u' 14481506 ', u' 4430740 ', u' 7049830 ', u' 9018212 ', u' 7154560 ', u' 6655984 ', u' 12297301 ', u' 11474510 ', u' 10408841 ', u' 7696410 ', u' 1254589 ', u' 2988382 ', u' 2956330 ', u' 14149475 ', u' 5446953 ', u' 2796329 ', u' 14665365 ', u' 6733130 '], 33: [u' 2752025 ', u' 8027445 ', u' 8952811 ', u' 4459157 ', u' 4599841 ', u' 9497372 ', u' 9319705 ', u' 9314891 ', u' 4052883 ', u' 2854899 ', u' 12010078 ', u' 269740 ', u' 2183772 ', u' 2596811 ', u' 2738892 ', u' 3939411 ', u' 4537555 ', u' 5990758 ', u' 6939789 ', u' 3294313 ', u' 2739340 ', u' 8441240 ', u' 7187742 ', u' 4212607 ', u' 3597061 ', u' 2187311 ', u' 8224194 ', u' 3901605 ', u' 4056667 ', u' 7853262 ', u' 269739 ', u' 3438863 ', u' 6349955 ', u' 4329307 ', u' 5814472 ', u' 2296660 ', u' 3294314 ', u' 3790515 ', u' 1369295 ', u' 6880311 ', u' 2761397 ', u' 9629609 ', u' 4169998 ', u' 9448749 ', u' 2619887 ', u' 8936236 ', u' 3903422 ', u' 13846232 ', u' 303251 ', u' 2815507 ', u' 8604218 ', u' 4087544 ', u' 7935883 ', u' 4599842 ', u' 9455688 ', u' 281567 ', u' 3483931 ', u' 9898329 ', u' 2598816 ', u' 3996298 ', u' 1728243 ', u' 8217992 ', u' 251747 ', u' 5092554 ', u' 9103080 ', u' 2050112 ', u' 144729 ', u' 7869439 ', u' 8101651 ', u' 1873438 ', u' 4574794 ', u' 3292957 ', u' 3103592 ', u' 6299386 ', u' 8903124 ', u' 4169164 ', u' 8441238 ', u' 5571258 ', u' 5088431 ', u' 4574793 ', u' 3416184 ', u' 3791675 ', u' 4130323 ', u' 8441239 ', u' 8020152 ', u' 1248762 ', u' 270825 ', u' 303250 ', u' 256288 ', u' 12612022 ', u' 1105025 ', u' 1991447 ', u' 2444437 ', u' 5670183 ', u' 3566094 ', u' 7564151 ', u' 4538901 ', u' 9435769 ', u' 5933837 ', u' 4529296 ', u' 251746 ', u' 12073694 ', u' 3292958 ', u' 441470 ', u' 3244751 ', u' 1747598 ', u' 7846232 ', u' 1193817 ', u' 9241832 ', u' 7770378 ', u' 4166038 ', u' 7801065 ', u' 3693527 ', u' 2298543 ', u' 4013703 ', u' 8239423 ', u' 6147953 ', u' 1193818 ', u' 7906143 ', u' 2960598 ', u' 2186939 ', u' 3706113 ', u' 4541925 ', u' 9247158 ', u' 1112343 ', u' 7044841 ', u' 270824 ', u' 4164241 ', u' 4963416 ', u' 4115876 ', u' 10503989 ', u' 4541924 ', u' 3908955 ', u' 237211 ', u' 8322276 ', u' 1991845 ', u' 7846233 ', u' 3566095 ', u' 1990328 ', u' 2716164 ', u' 7906144 ', u' 7084009 ', u' 1263353 ', u' 6934128 ', u' 1173812 ', u' 5039994 ', u' 7880487 ', u' 3593709 ', u' 2670979 ', u' 2360860 ', u' 7770379 ', u' 274847 ', u' 8369131 ', u' 6668083 ', u' 4900880 ', u' 14397606 ', u' 2960850 ', u' 4591948 ', u' 2706772 ', u' 918484 ', u' 4963415 ', u' 9661742 ', u' 14184981 ', u' 5469205 ', u' 8972671 ', u' 9312830 ', u' 6427309 ', u' 4998165 ', u' 5990512 ', u' 1617999 ', u' 459763 ', u' 2716163 ', u' 8062334 ', u' 2691048 ', u' 1184548 ', u' 7716774 ', u' 1173811 ', u' 4595491 ', u' 9565831 ', u' 13351444 ', u' 9325256 ', u' 2209085 ', u' 4596687 ', u' 9444388 ', u' 9961761 ', u' 3886929 ', u' 3845352 ', u' 6872142 ', u' 3109781 ', u' 4684855 ', u' 3416183 ', u' 2626773 ', u' 3597062 ', u' 9521891 ', u' 3410079 ', u' 9433185 ', u' 6812476 ', u' 2145499 ', u' 9005683 ', u' 4047109 ', u' 5722502 ', u' 6518211 ', u' 274848 ', u' 5925046 ', u' 2665762 ', u' 2189665 ', u' 6520762 ', u' 5457448 ', u' 8294287 ', u' 262428 ', u' 6085913 ', u' 9609925 ', u' 284583 ', u' 2683782 ', u' 5023270 ', u' 8903123 ', u' 3438864 ', u' 2619888 ', u' 3996497 ', u' 3569884 ', u' 6567827 ', u' 6549498 ', u' 6038212 ', u' 8028173 ', u' 6415236 ', u' 3597063 ', u' 2761953 ', u' 2752024 ', u' 441469 ', u' 418734 ', u' 6095653 ', u' 8774034 ', u' 3672450 ', u' 8144381 ', u' 8294286 ', u' 7565093 ', u' 9233636 ', u' 2738893 ', u' 3012055 ', u' 1834957 ', u' 5013008 ', u' 9136677 ', u' 8844380 ', u' 6973804 ', u' 6777853 ', u' 3466922 ', u' 2670447 ', u' 4030513 ', u' 5930071 ', u' 4459156 ', u' 7835700 ', u' 3828919 '], 34: [u' 2731599 ', u' 3381299 ', u' 1291815 ', u' 3378916 '], 35: [u' 4427857 ', u' 4803615 ', u' 7140815 ', u' 6050358 ', u' 5561873 ', u' 12337312 ', u' 4427856 ', u' 2540530 ', u' 13085710 ', u' 11752675 ', u' 1351864 ', u' 7100997 ', u' 6044142 ', u' 6616702 ', u' 11612674 '], 36: [u' 8557178 ', u' 13007395 ', u' 3348358 ', u' 12329595 ', u' 270457 ', u' 3345374 ', u' 11320468 ', u' 3713131 ', u' 11265986 ', u' 8826349 ', u' 13381740 ', u' 13773624 ', u' 14347926 ', u' 33336 ', u' 8955390 ', u' 8413838 ', u' 3968138 ', u' 10848378 ', u' 6935053 ', u' 10361721 ', u' 5048437 ', u' 2571930 ', u' 10241080 ', u' 10270792 ', u' 5845526 ', u' 6140200 ', u' 7786254 ', u' 5052211 ', u' 13496825 ', u' 4016889 ', u' 7572204 ', u' 6099986 ', u' 14298641 ', u' 4060382 ', u' 11685776 ', u' 11469214 ', u' 12967089 ', u' 6560252 ', u' 5052580 ', u' 9242064 ', u' 5150797 ', u' 4479925 ', u' 8308151 ', u' 10729631 ', u' 5063687 ', u' 4990585 ', u' 3439332 ', u' 492074 ', u' 6623318 ', u' 11681522 ', u' 753124 ', u' 5618335 ', u' 6877003 ', u' 3760650 ', u' 13206375 ', u' 5619692 ', u' 1463850 ', u' 13056672 ', u' 6975952 ', u' 14669166 '], 37: [u' 3881484 ', u' 1736942 ', u' 2677712 ', u' 2871689 ', u' 2069122 ', u' 4529759 ', u' 3616187 ', u' 5123999 ', u' 306976 ', u' 3457565 ', u' 3912192 ', u' 601479 ', u' 2839752 ', u' 1660687 ', u' 1738006 ', u' 2677710 ', u' 6723704 ', u' 1524988 '], 38: [u' 11341629 ', u' 7934273 ', u' 1102029 ', u' 9373065 ', u' 13784706 ', u' 9733840 ', u' 252800 ', u' 6563424 ', u' 1262118 ', u' 5055961 ', u' 5472847 ', u' 10238103 '], 39: [u' 9124961 ', u' 1959531 '], 40: [u' 7457740 ', u' 1876879 ', u' 2631868 ', u' 3948110 ', u' 7401783 ', u' 3240455 ', u' 191877 ', u' 191887 ', u' 4130197 ', u' 8061489 ', u' 2667638 ', u' 3084479 ', u' 9929582 ', u' 3306979 ', u' 7706213 ', u' 8128044 ', u' 3796586 ', u' 2145099 ', u' 8128045 ', u' 7867995 ', u' 4631607 ', u' 4354162 ', u' 2220174 '], 41: [u' 1381718 ', u' 382665 ', u' 9576458 ', u' 1468510 ', u' 2458005 ', u' 7860693 ', u' 5433693 ', u' 5097604 ', u' 3450060 ', u' 7250888 ', u' 6829673 ', u' 13457509 ', u' 3474181 ', u' 4017799 ', u' 12210162 ', u' 2487234 ', u' 3731767 ', u' 317571 ', u' 11597129 ', u' 7575647 ', u' 13810253 '], 42: [u' 14189812 ', u' 13791617 ', u' 4667500 ', u' 7748852 ', u' 4019213 ', u' 11433922 ', u' 7478074 ', u' 8633705 ', u' 3171291 ', u' 3395436 ', u' 11122105 ', u' 3056153 '], 43: [u' 1659878 ', u' 3910866 ', u' 7886951 ', u' 1166216 ', u' 1947908 ', u' 8793158 ', u' 512211 ', u' 2592075 ', u' 983760 ', u' 4197171 ', u' 2094421 ', u' 8006836 ', u' 316146 ', u' 6599542 ', u' 191361 ', u' 4036254 ', u' 1484465 ', u' 9453860 ', u' 2529046 ', u' 352996 ', u' 3075975 ', u' 3274961 ', u' 3808988 ', u' 7886692 ', u' 3109138 ', u' 9469747 ', u' 8112033 ', u' 1423375 ', u' 3117877 ', u' 2591840 ', u' 7999457 ', u' 2571925 ', u' 2572910 ', u' 6306531 ', u' 728237 ', u' 2402838 ', u' 195534 ', u' 3695300 ', u' 11538451 ', u' 5145018 ', u' 4217060 ', u' 8567269 ', u' 1487797 ', u' 3824724 ', u' 2345415 ', u' 7413497 ', u' 7060807 ', u' 2041764 ', u' 731647 ', u' 3006180 ', u' 5750340 ', u' 8717846 ', u' 2345345 ', u' 2369908 ', u' 4483475 ', u' 321146 ', u' 1867708 ', u' 1480046 ', u' 2914457 ', u' 6003360 ', u' 481125 ', u' 4128267 ', u' 11008610 ', u' 798504 ', u' 7764882 ', u' 9273793 ', u' 3274964 ', u' 4361816 '], 44: [u' 10151641 ', u' 12936506 ', u' 11163744 ', u' 12105849 ', u' 11581343 ', u' 13041771 ', u' 12312688 '], 45: [u' 4697517 ', u' 2650719 ', u' 3111099 ', u' 11001481 ', u' 1213054 ', u' 13111492 ', u' 4058064 ', u' 397428 ', u' 277637 ', u' 2846530 ', u' 13645554 ', u' 14333588 ', u' 11855078 ', u' 9746264 ', u' 3764372 ', u' 14530439 ', u' 6696911 ', u' 12770602 ', u' 2465675 ', u' 14431528 ', u' 7576779 ', u' 1642806 ', u' 13165598 ', u' 6512030 ', u' 1854178 ', u' 11105515 ', u' 595694 ', u' 11196004 ', u' 9173944 ', u' 8742773 ', u' 14512593 ', u' 9872013 ', u' 4697518 ', u' 8481095 ', u' 555757 ', u' 9314677 ', u' 13175599 ', u' 11533587 ', u' 4192822 '], 46: [u' 1592660 ', u' 3790962 '], 47: [u' 4795811 '

## Export all "yes" records

In [20]:
exporter = Database.FecRetrieverByID('usa_combined')
exporter.set_idm(idm)

for pageid, list_yesses in dict_rids.items():
    print pageid
    exporter.retrieve(list_yesses)
    filename = "carolina_records_page_{}".format(pageid)
    exporter.export_csv(filename)

1
inserting...
done.
Done in 0.001655 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_rIBsGSlfQ71XV4MkxE3o USING (id) ;
Done in 16.159047 seconds
2

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_rIBsGSlfQ71XV4MkxE3o'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_TavkJgTAQoYoNGLdMqCp'
  cur.execute(query)

inserting...
done.
Done in 0.001603 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_TavkJgTAQoYoNGLdMqCp USING (id) ;
Done in 24.502892 seconds
3
inserting...
done.
Done in 0.002647 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_hGBbWXEfCcm8bBe0wDPt USING (id) ;
Done in 23.350559 seconds
4

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_hGBbWXEfCcm8bBe0wDPt'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_8VmbWqRDWcI5FI5mEXrO'
  cur.execute(query)

inserting...
done.
Done in 0.003184 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_8VmbWqRDWcI5FI5mEXrO USING (id) ;
Done in 22.369494 seconds
5
inserting...
done.
Done in 0.018382 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_Ez9Oj6rmx439j7pTUwWu USING (id) ;
Done in 14.457346 seconds
6

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_Ez9Oj6rmx439j7pTUwWu'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_4e4WMD1TkYw32r9otRWX'
  cur.execute(query)

inserting...
done.
Done in 0.000947 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_4e4WMD1TkYw32r9otRWX USING (id) ;
Done in 14.445267 seconds
7
inserting...
done.
Done in 0.001199 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_2A1up0zL71RBO7qi3Xvr USING (id) ;
Done in 14.765363 seconds
8

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_2A1up0zL71RBO7qi3Xvr'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_HG0JxNCXF0sKjVMKJVL5'
  cur.execute(query)

inserting...
done.
Done in 0.022682 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_HG0JxNCXF0sKjVMKJVL5 USING (id) ;
Done in 21.872965 seconds
9
inserting...
done.
Done in 0.011767 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_1H7A1Jhu7gxSaKZ9dquh USING (id) ;
Done in 23.536229 seconds
10

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_1H7A1Jhu7gxSaKZ9dquh'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_0xtc2Ko5Mgp6qBZra0lY'
  cur.execute(query)

inserting...
done.
Done in 0.002119 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_0xtc2Ko5Mgp6qBZra0lY USING (id) ;
Done in 21.776269 seconds
11
inserting...
done.
Done in 0.013986 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_8HwXz337YfBa04YvqgEK USING (id) ;
Done in 23.018645 seconds
12

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_8HwXz337YfBa04YvqgEK'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_bpAWvOghDtNTTl1W4F0t'
  cur.execute(query)

inserting...
done.
Done in 0.001078 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_bpAWvOghDtNTTl1W4F0t USING (id) ;
Done in 14.436454 seconds
13
inserting...
done.
Done in 0.000773 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_440OuxkTaYIaRqKq0luB USING (id) ;
Done in 13.885545 seconds
14

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_440OuxkTaYIaRqKq0luB'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_irkDfLdE3RNZAQxN8PHx'
  cur.execute(query)

inserting...
done.
Done in 0.000771 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_irkDfLdE3RNZAQxN8PHx USING (id) ;
Done in 13.758642 seconds
15
inserting...
done.
Done in 0.002750 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_bBo01VoEBzGfHOIa2JLi USING (id) ;
Done in 22.935778 seconds
16

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_bBo01VoEBzGfHOIa2JLi'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_buhiwmwROiogk5PqFb3x'
  cur.execute(query)

inserting...
done.
Done in 0.001487 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_buhiwmwROiogk5PqFb3x USING (id) ;
Done in 15.213663 seconds
17
inserting...
done.
Done in 0.003144 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_7OSsTOQ7xUNLOwZexN4l USING (id) ;
Done in 22.229026 seconds
18

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_7OSsTOQ7xUNLOwZexN4l'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_PJe7jwEDlJXVT31swovO'
  cur.execute(query)

inserting...
done.
Done in 0.001128 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_PJe7jwEDlJXVT31swovO USING (id) ;
Done in 14.678681 seconds
19
inserting...
done.
Done in 0.001127 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_UUr1SzGb2jIWnFNzTPW4 USING (id) ;
Done in 14.858598 seconds
20

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_UUr1SzGb2jIWnFNzTPW4'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_qetZWE7FYiZzixoQfF6R'
  cur.execute(query)

inserting...
done.
Done in 0.002406 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_qetZWE7FYiZzixoQfF6R USING (id) ;
Done in 21.970948 seconds
21
inserting...
done.
Done in 0.003263 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_k9uQUqK80NFG5BT2DPK6 USING (id) ;
Done in 27.534321 seconds
22

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_k9uQUqK80NFG5BT2DPK6'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_B0273tlL6DX2ZuCLMcme'
  cur.execute(query)

inserting...
done.
Done in 0.017471 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_B0273tlL6DX2ZuCLMcme USING (id) ;
Done in 23.025456 seconds
23
inserting...
done.
Done in 0.033474 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_riziY7tdlIsg0wJA5gXQ USING (id) ;
Done in 29.741050 seconds
24

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_riziY7tdlIsg0wJA5gXQ'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_BpVOUV02zcWDSeC0I3EY'
  cur.execute(query)

inserting...
done.
Done in 0.005933 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_BpVOUV02zcWDSeC0I3EY USING (id) ;
Done in 23.123844 seconds
25
inserting...
done.
Done in 0.002031 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_611DH8m9vWuB5ZUE9YkR USING (id) ;
Done in 21.879532 seconds
26

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_611DH8m9vWuB5ZUE9YkR'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_4AE7s8mVfRgmFtNkI9O6'
  cur.execute(query)

inserting...
done.
Done in 0.002985 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_4AE7s8mVfRgmFtNkI9O6 USING (id) ;
Done in 22.177511 seconds
27
inserting...
done.
Done in 0.002490 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_DW9EQoRIgpcHNhlncKW7 USING (id) ;
Done in 22.900435 seconds
28

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_DW9EQoRIgpcHNhlncKW7'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_GSt9OP02D1i76sDws94p'
  cur.execute(query)

inserting...
done.
Done in 0.003638 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_GSt9OP02D1i76sDws94p USING (id) ;
Done in 22.558721 seconds
29
inserting...
done.
Done in 0.002141 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_mTKcghN4jMFploQFnesJ USING (id) ;
Done in 22.027419 seconds
30

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_mTKcghN4jMFploQFnesJ'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_xA3JdChxQ4GY5DMtGhHo'
  cur.execute(query)

inserting...
done.
Done in 0.001725 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_xA3JdChxQ4GY5DMtGhHo USING (id) ;
Done in 29.106607 seconds
31
inserting...
done.
Done in 0.000985 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_1Z6IL1cqoUfa5tUWd7sW USING (id) ;
Done in 14.282514 seconds
32

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_1Z6IL1cqoUfa5tUWd7sW'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_UGZYO1fSCEGRJS1FbW6s'
  cur.execute(query)

inserting...
done.
Done in 0.009479 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_UGZYO1fSCEGRJS1FbW6s USING (id) ;
Done in 23.544349 seconds
33
inserting...
done.
Done in 0.018912 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_tzYA8OtqFolZmaJtfAjh USING (id) ;
Done in 24.276533 seconds
34

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_tzYA8OtqFolZmaJtfAjh'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_z5b6KlHxfvfWKiKvKZ09'
  cur.execute(query)

inserting...
done.
Done in 0.001272 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_z5b6KlHxfvfWKiKvKZ09 USING (id) ;
Done in 15.286223 seconds
35
inserting...
done.
Done in 0.002199 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_voNAlGnlI1iqvA35j0Np USING (id) ;
Done in 23.017336 seconds
36

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_voNAlGnlI1iqvA35j0Np'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_HpQKGAE9H9P2pDC1BSRa'
  cur.execute(query)

inserting...
done.
Done in 0.004925 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_HpQKGAE9H9P2pDC1BSRa USING (id) ;
Done in 22.839813 seconds
37
inserting...
done.
Done in 0.015226 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_evhSQd1Gczl2kwAZfXU1 USING (id) ;
Done in 29.722252 seconds
38

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_evhSQd1Gczl2kwAZfXU1'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_fT92Mrh6wJZD97K2f9sg'
  cur.execute(query)

inserting...
done.
Done in 0.001894 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_fT92Mrh6wJZD97K2f9sg USING (id) ;
Done in 22.702819 seconds
39
inserting...
done.
Done in 0.001011 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_CxHUO79c2xKC9k9ZA72R USING (id) ;
Done in 14.359294 seconds
40

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_CxHUO79c2xKC9k9ZA72R'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_0q1XxAxePQDwa8xNqjxH'
  cur.execute(query)

inserting...
done.
Done in 0.002617 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_0q1XxAxePQDwa8xNqjxH USING (id) ;
Done in 25.942537 seconds
41
inserting...
done.
Done in 0.002664 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_RrGiiZWkb9fFdPeL0lCD USING (id) ;
Done in 22.828512 seconds
42

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_RrGiiZWkb9fFdPeL0lCD'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_gjOzUPSnQOscHRA1owCV'
  cur.execute(query)

inserting...
done.
Done in 0.002289 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_gjOzUPSnQOscHRA1owCV USING (id) ;
Done in 22.076841 seconds
43
inserting...
done.
Done in 0.006581 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_VEn2DsDRZj9Tqb3C2ib6 USING (id) ;
Done in 25.490346 seconds
44

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_VEn2DsDRZj9Tqb3C2ib6'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_8bYulUwVo8CuL96MR5K2'
  cur.execute(query)

inserting...
done.
Done in 0.001725 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_8bYulUwVo8CuL96MR5K2 USING (id) ;
Done in 22.420095 seconds
45
inserting...
done.
Done in 0.003758 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_dK3G4h3wgp9FEeDiPP5K USING (id) ;
Done in 22.829700 seconds
46

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_dK3G4h3wgp9FEeDiPP5K'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_SYxeE1rk6wZIPs1NF9R0'
  cur.execute(query)

inserting...
done.
Done in 0.001041 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_SYxeE1rk6wZIPs1NF9R0 USING (id) ;
Done in 14.166378 seconds
47
inserting...
done.
Done in 0.002364 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_EPHrqDQ8Hr7jAe8xJlDu USING (id) ;
Done in 24.020160 seconds
48

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_EPHrqDQ8Hr7jAe8xJlDu'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_bQQ761m8DW1OmFYIGRjI'
  cur.execute(query)

inserting...
done.
Done in 0.003012 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_bQQ761m8DW1OmFYIGRjI USING (id) ;
Done in 22.067180 seconds
49
inserting...
done.
Done in 0.001446 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_wWSNZ3eJpmnCWqLEcoV1 USING (id) ;
Done in 16.037081 seconds
50

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_wWSNZ3eJpmnCWqLEcoV1'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_mcbl1ZARIeKElOzRE8uK'
  cur.execute(query)

inserting...
done.
Done in 0.002415 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_mcbl1ZARIeKElOzRE8uK USING (id) ;
Done in 24.433175 seconds
51
inserting...
done.
Done in 0.000792 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_9qwiL0W88emPF5J8o2LA USING (id) ;
Done in 13.925347 seconds
52

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_9qwiL0W88emPF5J8o2LA'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_CsOOkE3d1wJUpeD9gW0z'
  cur.execute(query)

inserting...
done.
Done in 0.002410 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_CsOOkE3d1wJUpeD9gW0z USING (id) ;
Done in 24.262909 seconds
53
inserting...
done.
Done in 0.001281 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_82aUN4muwAuvZ7VgTUHr USING (id) ;
Done in 15.193489 seconds
54

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_82aUN4muwAuvZ7VgTUHr'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_TeKNHYiGUSToaQz2CMI0'
  cur.execute(query)

inserting...
done.
Done in 0.002211 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_TeKNHYiGUSToaQz2CMI0 USING (id) ;
Done in 28.492635 seconds
55
inserting...
done.
Done in 0.001916 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_egWXx1DVvXpFsX2IgTOg USING (id) ;
Done in 30.779501 seconds
56

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_egWXx1DVvXpFsX2IgTOg'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_L0sPOgfws30Mk9trU1eq'
  cur.execute(query)

inserting...
done.
Done in 0.002355 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_L0sPOgfws30Mk9trU1eq USING (id) ;
Done in 24.827668 seconds
57
inserting...
done.
Done in 0.018869 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_p9PpP1bABJopQP4oIS8v USING (id) ;
Done in 24.403286 seconds
58

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_p9PpP1bABJopQP4oIS8v'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_rl53QwQDzlccPvOZFE8Q'
  cur.execute(query)

inserting...
done.
Done in 0.008585 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_rl53QwQDzlccPvOZFE8Q USING (id) ;
Done in 23.788437 seconds
59
inserting...
done.
Done in 0.002027 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_AZ63vrwZR96MTenS0XL5 USING (id) ;
Done in 22.066207 seconds
60

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_AZ63vrwZR96MTenS0XL5'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_2WxkkTJU3AlIjRpPLToa'
  cur.execute(query)

inserting...
done.
Done in 0.000800 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_2WxkkTJU3AlIjRpPLToa USING (id) ;
Done in 13.971983 seconds
61
inserting...
done.
Done in 0.021488 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_6n9nCUcbgq1NHzbuxfRj USING (id) ;
Done in 24.217461 seconds
62

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_6n9nCUcbgq1NHzbuxfRj'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_1voHQGp1euQZJ4N20Z9Y'
  cur.execute(query)

inserting...
done.
Done in 0.001735 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_1voHQGp1euQZJ4N20Z9Y USING (id) ;
Done in 25.337014 seconds
63
inserting...
done.
Done in 0.003203 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_e4JPCuR0aQOJaPJ3leIN USING (id) ;
Done in 22.324675 seconds
64

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_e4JPCuR0aQOJaPJ3leIN'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_KAKlZ9Zp2fw3rFXnYGQX'
  cur.execute(query)

inserting...
done.
Done in 0.001221 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_KAKlZ9Zp2fw3rFXnYGQX USING (id) ;
Done in 14.809514 seconds
65
inserting...
done.
Done in 0.007507 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_PkkWnfABVbOMq5dMqFp7 USING (id) ;
Done in 24.306756 seconds
66

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_PkkWnfABVbOMq5dMqFp7'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_18btuWsDKrkWFNzMDfa6'
  cur.execute(query)

inserting...
done.
Done in 0.004401 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_18btuWsDKrkWFNzMDfa6 USING (id) ;
Done in 24.939948 seconds
67
inserting...
done.
Done in 0.001815 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_PSXqm7jOf8MET5rLor0A USING (id) ;
Done in 23.024451 seconds
68

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_PSXqm7jOf8MET5rLor0A'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_whFXsGfh18PEdLIIYapH'
  cur.execute(query)

inserting...
done.
Done in 0.005267 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_whFXsGfh18PEdLIIYapH USING (id) ;
Done in 22.841931 seconds
69
inserting...
done.
Done in 0.001342 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_HlcLsfPMIw85tOaPw5ud USING (id) ;
Done in 15.431670 seconds
70

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_HlcLsfPMIw85tOaPw5ud'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_FEOLDH2SzWAj0W9WPng2'
  cur.execute(query)

inserting...
done.
Done in 0.002085 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_FEOLDH2SzWAj0W9WPng2 USING (id) ;
Done in 23.062359 seconds
71
inserting...
done.
Done in 0.000780 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_o00tubZtw8tqzL3496QL USING (id) ;
Done in 14.503356 seconds
72

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_o00tubZtw8tqzL3496QL'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_oMeCNi2T7wLLZbSxb4Vj'
  cur.execute(query)

inserting...
done.
Done in 0.011112 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_oMeCNi2T7wLLZbSxb4Vj USING (id) ;
Done in 22.288042 seconds
73
inserting...
done.
Done in 0.001199 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_wl9lQFugNHh4AlQo8fQC USING (id) ;
Done in 14.923886 seconds
74

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_wl9lQFugNHh4AlQo8fQC'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_JNn8mpSlM3bkhbD41V9C'
  cur.execute(query)

inserting...
done.
Done in 0.003008 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_JNn8mpSlM3bkhbD41V9C USING (id) ;
Done in 22.371176 seconds
75
inserting...
done.
Done in 0.001897 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_3hf28oAg18akHDqSVw0h USING (id) ;
Done in 22.367791 seconds
76

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_3hf28oAg18akHDqSVw0h'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_iLkAn81LXcoNo49dSIzL'
  cur.execute(query)

inserting...
done.
Done in 0.003939 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_iLkAn81LXcoNo49dSIzL USING (id) ;
Done in 22.452147 seconds
77
inserting...
done.
Done in 0.001598 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_aNJfs8cOZlCsMOJF9k2D USING (id) ;
Done in 26.955717 seconds
78

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_aNJfs8cOZlCsMOJF9k2D'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_z5BLwIeNDWm8eFUiGtAH'
  cur.execute(query)

inserting...
done.
Done in 0.005802 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_z5BLwIeNDWm8eFUiGtAH USING (id) ;
Done in 22.979578 seconds
79
inserting...
done.
Done in 0.003449 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_YSH2C9wvskLTSgEoOgUZ USING (id) ;
Done in 23.641280 seconds
80

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_YSH2C9wvskLTSgEoOgUZ'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_gJBrM9657MoJak5pKU9S'
  cur.execute(query)

inserting...
done.
Done in 0.001420 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_gJBrM9657MoJak5pKU9S USING (id) ;
Done in 15.668589 seconds
81
inserting...
done.
Done in 0.003570 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_etB0Ol3NVljzBCjmhXcH USING (id) ;
Done in 22.990572 seconds
82

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_etB0Ol3NVljzBCjmhXcH'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_PrVc5A0mUVtTbcz4i8YK'
  cur.execute(query)

inserting...
done.
Done in 0.006902 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_PrVc5A0mUVtTbcz4i8YK USING (id) ;
Done in 23.569918 seconds
83
inserting...
done.
Done in 0.000827 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_5lH3XDY9LY15xj0HCFVm USING (id) ;
Done in 14.093448 seconds
84

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_5lH3XDY9LY15xj0HCFVm'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_nWlB9ZdgFDhJK4SN6l9u'
  cur.execute(query)

inserting...
done.
Done in 0.000744 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_nWlB9ZdgFDhJK4SN6l9u USING (id) ;
Done in 13.979682 seconds
85
inserting...
done.
Done in 0.001799 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_X2i6hhnPMLINffggqpbD USING (id) ;
Done in 22.167052 seconds
86

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_X2i6hhnPMLINffggqpbD'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_rd2HrrIzNmC0wELPnMVn'
  cur.execute(query)

inserting...
done.
Done in 0.000789 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_rd2HrrIzNmC0wELPnMVn USING (id) ;
Done in 13.953395 seconds
87
inserting...
done.
Done in 0.004701 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_NiEMiUR022eXmDW11sbz USING (id) ;
Done in 28.924230 seconds
88

/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_NiEMiUR022eXmDW11sbz'
  cur.execute(query)
/nfs/home/navid/src/FEC-1/src/disambiguation/core/Database.py:51: Warning: Unknown table 'tmp_x1MrUbMVt7zQAs7JT32s'
  cur.execute(query)

inserting...
done.
Done in 0.001680 seconds
SELECT NAME,ZIP_CODE,CONTRIBUTOR_STREET_1,CITY,STATE,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,CMTE_ID,ENTITY_TP,id FROM usa_combined JOIN tmp_x1MrUbMVt7zQAs7JT32s USING (id) ;
Done in 32.050410 seconds

In [1]:
idm

NameError: name 'idm' is not defined

# Test identity adjacency

In [26]:
# idm.fetch_dict_identity_2_id()
# idm.fetch_dict_id_2_identity
idm.load_dict_identity_2_identities()

In [16]:
idm.fetch_dict_identity_adjacency()

SELECT identity1,identity2, verdict from identities_adjacency_v3;

In [18]:
idm.dict_identity_adjacency['OK-3394']

KeyError: 'OK-3394'

In [29]:
idm.dict_identity_2_identities['OK-3399']

KeyError: 'OK-3399'

In [25]:
idm.get_linked_identities('OK-3323')

[u'OK-3394', 'OK-3323']

In [32]:
import cPickle
with open(config.tokendata_file_template % ( 'newyork', 'Tokenizer')) as f:
    a = cPickle.load(f)

In [34]:
a.token_identifiers

{'CONTRIBUTOR_STREET_1': [5],
 'CONTRIBUTOR_ZIP': [4],
 'EMPLOYER': [67],
 'FIRST_NAME': [2],
 'LAST_NAME': [1],
 'MIDDLE_NAME': [3],
 'NAME': [1, 2, 3],
 'N_employer': [67],
 'N_first_name': [2],
 'N_full_name': [123],
 'N_last_name': [1],
 'N_middle_name': [3],
 'N_occupation': [67],
 'OCCUPATION': [67],
 'ZIP_CODE': [4]}