In [1]:
import cPickle
from disambiguation import config

In [13]:

tokendata_file = config.tokendata_file_template % ('newyork', 'Tokenizer')
normalized_attributes_file = config.normalized_attributes_file_template % ('newyork')

# Attempt to load tokendata from file
f = open(tokendata_file)
tokendata = cPickle.load(f)
tokens = tokendataip
f.close()
f = open(normalized_attributes_file)
dict_normalized_attributes = cPickle.load(f)
f.close()
counter_error = 0

# for record in self.list_of_records:
#     record.tokendata = tokendata
#     try:
#         normalized_attributes = dict_normalized_attributes[record.id]
#         # attach the normalized attributes to each record
#         for attr in self.normalized_attrs:
#             record[attr] = normalized_attributes[attr]
#     except Exception as e:
#         print  "blah blah ---- ", e
#         counter_error += 1

In [14]:
x =  dict_normalized_attributes
y = tokens

In [15]:
print len(x)
print len(y)

1186759

AttributeError: TokenData instance has no attribute '__len__'

In [2]:
from disambiguation.core import Database

In [3]:
Database.IdentityManager.table_name_identities = 'identities_old'
Database.IdentityManager.table_name_identity_adjacency = 'identities_adjacency_old'

idm = Database.IdentityManager('michigan')
idm.fetch_dict_id_2_identity()
idm.fetch_dict_identity_2_id()

Table 'identities_old' exists.
Table 'identities_adjacency' exists.
select id,identity from identities_old WHERE identity like '%MI%' ;

KeyboardInterrupt:

In [13]:
from disambiguation.core import states

individual_contributions_v2
newyork_combined_v2
usa_combined_v2
identities_v2
identities_adjacency_v2

In [12]:
list_states = states.get_state_order().items()
list_states = [x for x,y in sorted(list_states, key = lambda x:x[1])]
list_states.remove('california')
print list_states

['newyork', 'texas', 'florida', 'illinois', 'virginia', 'pennsylvania', 'massachusetts', 'newjersey', 'ohio', 'maryland', 'districtofcolumbia', 'michigan', 'washington', 'georgia', 'northcarolina', 'colorado', 'connecticut', 'arizona', 'minnesota', 'missouri', 'tennessee', 'wisconsin', 'indiana', 'louisiana', 'oregon', 'kentucky', 'southcarolina', 'alabama', 'oklahoma', 'newmexico', 'kansas', 'iowa', 'nevada', 'arkansas', 'nebraska', 'newhampshire', 'mississippi', 'utah', 'hawaii', 'maine', 'westvirginia', 'montana', 'alaska', 'rhodeisland', 'southdakota', 'delaware', 'idaho', 'northdakota', 'vermont', 'wyoming', 'puertorico', 'virginislands', 'guam', 'northernmarianaislands', 'americansamoa', 'federatedstatesofmicronesia', 'palau', 'marshallislands']

In [19]:
with open('rename_tables.sql', 'w') as f:
    for state in states.dict_state.values():
        code = 'RENAME TABLE %s_combined TO %s_combined_v2;' % (state, state)
        print code
        f.write(code+"\n")

RENAME TABLE washington_combined TO washington_combined_v2;
RENAME TABLE wisconsin_combined TO wisconsin_combined_v2;
RENAME TABLE westvirginia_combined TO westvirginia_combined_v2;
RENAME TABLE florida_combined TO florida_combined_v2;
RENAME TABLE federatedstatesofmicronesia_combined TO federatedstatesofmicronesia_combined_v2;
RENAME TABLE wyoming_combined TO wyoming_combined_v2;
RENAME TABLE newhampshire_combined TO newhampshire_combined_v2;
RENAME TABLE newjersey_combined TO newjersey_combined_v2;
RENAME TABLE newmexico_combined TO newmexico_combined_v2;
RENAME TABLE northcarolina_combined TO northcarolina_combined_v2;
RENAME TABLE northdakota_combined TO northdakota_combined_v2;
RENAME TABLE nebraska_combined TO nebraska_combined_v2;
RENAME TABLE newyork_combined TO newyork_combined_v2;
RENAME TABLE rhodeisland_combined TO rhodeisland_combined_v2;
RENAME TABLE nevada_combined TO nevada_combined_v2;
RENAME TABLE guam_combined TO guam_combined_v2;
RENAME TABLE colorado_combined TO colorado_combined_v2;
RENAME TABLE california_combined TO california_combined_v2;
RENAME TABLE georgia_combined TO georgia_combined_v2;
RENAME TABLE connecticut_combined TO connecticut_combined_v2;
RENAME TABLE oklahoma_combined TO oklahoma_combined_v2;
RENAME TABLE ohio_combined TO ohio_combined_v2;
RENAME TABLE kansas_combined TO kansas_combined_v2;
RENAME TABLE southcarolina_combined TO southcarolina_combined_v2;
RENAME TABLE kentucky_combined TO kentucky_combined_v2;
RENAME TABLE oregon_combined TO oregon_combined_v2;
RENAME TABLE southdakota_combined TO southdakota_combined_v2;
RENAME TABLE delaware_combined TO delaware_combined_v2;
RENAME TABLE districtofcolumbia_combined TO districtofcolumbia_combined_v2;
RENAME TABLE hawaii_combined TO hawaii_combined_v2;
RENAME TABLE puertorico_combined TO puertorico_combined_v2;
RENAME TABLE palau_combined TO palau_combined_v2;
RENAME TABLE texas_combined TO texas_combined_v2;
RENAME TABLE louisiana_combined TO louisiana_combined_v2;
RENAME TABLE tennessee_combined TO tennessee_combined_v2;
RENAME TABLE pennsylvania_combined TO pennsylvania_combined_v2;
RENAME TABLE virginia_combined TO virginia_combined_v2;
RENAME TABLE virginislands_combined TO virginislands_combined_v2;
RENAME TABLE alaska_combined TO alaska_combined_v2;
RENAME TABLE alabama_combined TO alabama_combined_v2;
RENAME TABLE americansamoa_combined TO americansamoa_combined_v2;
RENAME TABLE arkansas_combined TO arkansas_combined_v2;
RENAME TABLE vermont_combined TO vermont_combined_v2;
RENAME TABLE illinois_combined TO illinois_combined_v2;
RENAME TABLE indiana_combined TO indiana_combined_v2;
RENAME TABLE iowa_combined TO iowa_combined_v2;
RENAME TABLE arizona_combined TO arizona_combined_v2;
RENAME TABLE idaho_combined TO idaho_combined_v2;
RENAME TABLE maine_combined TO maine_combined_v2;
RENAME TABLE maryland_combined TO maryland_combined_v2;
RENAME TABLE massachusetts_combined TO massachusetts_combined_v2;
RENAME TABLE utah_combined TO utah_combined_v2;
RENAME TABLE missouri_combined TO missouri_combined_v2;
RENAME TABLE minnesota_combined TO minnesota_combined_v2;
RENAME TABLE michigan_combined TO michigan_combined_v2;
RENAME TABLE marshallislands_combined TO marshallislands_combined_v2;
RENAME TABLE montana_combined TO montana_combined_v2;
RENAME TABLE northernmarianaislands_combined TO northernmarianaislands_combined_v2;
RENAME TABLE mississippi_combined TO mississippi_combined_v2;